*__pycache__/
.snakemake/
*.ipynb_checkpoints/
.vscode/
tmp_kmc/
*plots*/
indexes/
other-sequences/

# environment
env/

build
dist
*.spec
*.err

# data
data/
output*/
plots/
*tar


# kmc
tmp-kmc/

# experiments ml
mlruns/
# Python package files
*.egg
*.egg-info/
dist/
build/
eggs/